body{
    background-image: url('https://images.unsplash.com/photo-1495145910046-717b12bffcf7?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Times New Roman', Times, serif;
    color: #6a5e57;
    text-shadow: 1px 0 10px;
}

.main{
    
}

.form-container{
    display: flex;
    justify-content: center;
}

.img{
    background-image: url('https://images.unsplash.com/photo-1525253086316-d0c936c814f8?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    height: 300px;
    width: 500px;
    box-shadow: 0 0 8px 4px #d3c4ac inset;
    background-repeat: no-repeat;
    background-size: 500px 300px;
}
